### Deep Learning Model Evaluation

In [3]:
# importing datasets using chunking

import pandas as pd

df_chunk = pd.read_csv('../datasets/titanic.csv', chunksize=10)

# errors because df_chunk is a generator
# df_chunk['Age']

C = 0
for chunk in df_chunk:
    C += 1
    print(C)
    print(chunk['Age'])

1
0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64
2
10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64
3
20    35.0
21    34.0
22    15.0
23    28.0
24     8.0
25    38.0
26     NaN
27    19.0
28     NaN
29     NaN
Name: Age, dtype: float64
4
30    40.0
31     NaN
32     NaN
33    66.0
34    28.0
35    42.0
36     NaN
37    21.0
38    18.0
39    14.0
Name: Age, dtype: float64
5
40    40.0
41    27.0
42     NaN
43     3.0
44    19.0
45     NaN
46     NaN
47     NaN
48     NaN
49    18.0
Name: Age, dtype: float64
6
50     7.0
51    21.0
52    49.0
53    29.0
54    65.0
55     NaN
56    21.0
57    28.5
58     5.0
59    11.0
Name: Age, dtype: float64
7
60    22.0
61    38.0
62    45.0
63     4.0
64     NaN
65     NaN
66    29.0
67    19.0
68    17.0
69    26.0
Name: Age, dtype: float64
8
70    32.00
71    16.00
72    21.00
73    26.00
74    32.00
75    25.00
76      NaN
77      NaN
78     0.83
79    30.00
Name: Age, dtype: float64
9
80    22.0
81    29.0
82     NaN
83    28.0
84    17.0
85    33.0
86    16.0
87     NaN
88    23.0
89    24.0
Name: Age, dtype: float64
10
90    29.0
91    20.0
92    46.0
93    26.0
94    59.0
95     NaN
96    71.0
97    23.0
98    34.0
99    34.0
Name: Age, dtype: float64
11
100    28.0
101     NaN
102    21.0
103    33.0
104    37.0
105    28.0
106    21.0
107     NaN
108    38.0
109     NaN
Name: Age, dtype: float64
12
110    47.0
111    14.5
112    22.0
113    20.0
114    17.0
115    21.0
116    70.5
117    29.0
118    24.0
119     2.0
Name: Age, dtype: float64
13
120    21.0
121     NaN
122    32.5
123    32.5
124    54.0
125    12.0
126     NaN
127    24.0
128     NaN
129    45.0
Name: Age, dtype: float64
14
130    33
131    20
132    47
133    29
134    25
135    23
136    19
137    37
138    16
139    24
Name: Age, dtype: int64
15
140     NaN
141    22.0
142    24.0
143    19.0
144    18.0
145    19.0
146    27.0
147     9.0
148    36.5
149    42.0
Name: Age, dtype: float64
16
150    51.0
151    22.0
152    55.5
153    40.5
154     NaN
155    51.0
156    16.0
157    30.0
158     NaN
159     NaN
Name: Age, dtype: float64
17
160    44.0
161    40.0
162    26.0
163    17.0
164     1.0
165     9.0
166     NaN
167    45.0
168     NaN
169    28.0
Name: Age, dtype: float64
18
170    61.0
171     4.0
172     1.0
173    21.0
174    56.0
175    18.0
176     NaN
177    50.0
178    30.0
179    36.0
Name: Age, dtype: float64
19
180     NaN
181     NaN
182     9.0
183     1.0
184     4.0
185     NaN
186     NaN
187    45.0
188    40.0
189    36.0
Name: Age, dtype: float64
20
190    32.0
191    19.0
192    19.0
193     3.0
194    44.0
195    58.0
196     NaN
197    42.0
198     NaN
199    24.0
Name: Age, dtype: float64
21
200    28.0
201     NaN
202    34.0
203    45.5
204    18.0
205     2.0
206    32.0
207    26.0
208    16.0
209    40.0
Name: Age, dtype: float64
22
210    24.0
211    35.0
212    22.0
213    30.0
214     NaN
215    31.0
216    27.0
217    42.0
218    32.0
219    30.0
Name: Age, dtype: float64
23
220    16.0
221    27.0
222    51.0
223     NaN
224    38.0
225    22.0
226    19.0
227    20.5
228    18.0
229     NaN
Name: Age, dtype: float64
24
230    35.0
231    29.0
232    59.0
233     5.0
234    24.0
235     NaN
236    44.0
237     8.0
238    19.0
239    33.0
Name: Age, dtype: float64
25
240     NaN
241     NaN
242    29.0
243    22.0
244    30.0
245    44.0
246    25.0
247    24.0
248    37.0
249    54.0
Name: Age, dtype: float64
26
250     NaN
251    29.0
252    62.0
253    30.0
254    41.0
255    29.0
256     NaN
257    30.0
258    35.0
259    50.0
Name: Age, dtype: float64
27
260     NaN
261     3.0
262    52.0
263    40.0
264     NaN
265    36.0
266    16.0
267    25.0
268    58.0
269    35.0
Name: Age, dtype: float64
28
270     NaN
271    25.0
272    41.0
273    37.0
274     NaN
275    63.0
276    45.0
277     NaN
278     7.0
279    35.0
Name: Age, dtype: float64
29
280    65.0
281    28.0
282    16.0
283    19.0
284     NaN
285    33.0
286    30.0
287    22.0
288    42.0
289    22.0
Name: Age, dtype: float64
30
290    26.0
291    19.0
292    36.0
293    24.0
294    24.0
295     NaN
296    23.5
297     2.0
298     NaN
299    50.0
Name: Age, dtype: float64
31
300      NaN
301      NaN
302    19.00
303      NaN
304      NaN
305     0.92
306      NaN
307    17.00
308    30.00
309    30.00
Name: Age, dtype: float64
32
310    24
311    18
312    26
313    28
314    43
315    26
316    24
317    54
318    31
319    40
Name: Age, dtype: int64
33
320    22.0
321    27.0
322    30.0
323    22.0
324     NaN
325    36.0
326    61.0
327    36.0
328    31.0
329    16.0
Name: Age, dtype: float64
34
330     NaN
331    45.5
332    38.0
333    16.0
334     NaN
335     NaN
336    29.0
337    41.0
338    45.0
339    45.0
Name: Age, dtype: float64
35
340     2.0
341    24.0
342    28.0
343    25.0
344    36.0
345    24.0
346    40.0
347     NaN
348     3.0
349    42.0
Name: Age, dtype: float64
36
350    23.0
351     NaN
352    15.0
353    25.0
354     NaN
355    28.0
356    22.0
357    38.0
358     NaN
359     NaN
Name: Age, dtype: float64
37
360    40.0
361    29.0
362    45.0
363    35.0
364     NaN
365    30.0
366    60.0
367     NaN
368     NaN
369    24.0
Name: Age, dtype: float64
38
370    25.0
371    18.0
372    19.0
373    22.0
374     3.0
375     NaN
376    22.0
377    27.0
378    20.0
379    19.0
Name: Age, dtype: float64
39
380    42.0
381     1.0
382    32.0
383    35.0
384     NaN
385    18.0
386     1.0
387    36.0
388     NaN
389    17.0
Name: Age, dtype: float64
40
390    36
391    21
392    28
393    23
394    24
395    22
396    31
397    46
398    23
399    28
Name: Age, dtype: int64
41
400    39.0
401    26.0
402    21.0
403    28.0
404    20.0
405    34.0
406    51.0
407     3.0
408    21.0
409     NaN
Name: Age, dtype: float64
42
410     NaN
411     NaN
412    33.0
413     NaN
414    44.0
415     NaN
416    34.0
417    18.0
418    30.0
419    10.0
Name: Age, dtype: float64
43
420     NaN
421    21.0
422    29.0
423    28.0
424    18.0
425     NaN
426    28.0
427    19.0
428     NaN
429    32.0
Name: Age, dtype: float64
44
430    28.0
431     NaN
432    42.0
433    17.0
434    50.0
435    14.0
436    21.0
437    24.0
438    64.0
439    31.0
Name: Age, dtype: float64
45
440    45.0
441    20.0
442    25.0
443    28.0
444     NaN
445     4.0
446    13.0
447    34.0
448     5.0
449    52.0
Name: Age, dtype: float64
46
450    36.0
451     NaN
452    30.0
453    49.0
454     NaN
455    29.0
456    65.0
457     NaN
458    50.0
459     NaN
Name: Age, dtype: float64
47
460    48.00
461    34.00
462    47.00
463    48.00
464      NaN
465    38.00
466      NaN
467    56.00
468      NaN
469     0.75
Name: Age, dtype: float64
48
470     NaN
471    38.0
472    33.0
473    23.0
474    22.0
475     NaN
476    34.0
477    29.0
478    22.0
479     2.0
Name: Age, dtype: float64
49
480     9.0
481     NaN
482    50.0
483    63.0
484    25.0
485     NaN
486    35.0
487    58.0
488    30.0
489     9.0
Name: Age, dtype: float64
50
490     NaN
491    21.0
492    55.0
493    71.0
494    21.0
495     NaN
496    54.0
497     NaN
498    25.0
499    24.0
Name: Age, dtype: float64
51
500    17.0
501    21.0
502     NaN
503    37.0
504    16.0
505    18.0
506    33.0
507     NaN
508    28.0
509    26.0
Name: Age, dtype: float64
52
510    29.0
511     NaN
512    36.0
513    54.0
514    24.0
515    47.0
516    34.0
517     NaN
518    36.0
519    32.0
Name: Age, dtype: float64
53
520    30.0
521    22.0
522     NaN
523    44.0
524     NaN
525    40.5
526    50.0
527     NaN
528    39.0
529    23.0
Name: Age, dtype: float64
54
530     2.0
531     NaN
532    17.0
533     NaN
534    30.0
535     7.0
536    45.0
537    30.0
538     NaN
539    22.0
Name: Age, dtype: float64
55
540    36.0
541     9.0
542    11.0
543    32.0
544    50.0
545    64.0
546    19.0
547     NaN
548    33.0
549     8.0
Name: Age, dtype: float64
56
550    17.0
551    27.0
552     NaN
553    22.0
554    22.0
555    62.0
556    48.0
557     NaN
558    39.0
559    36.0
Name: Age, dtype: float64
57
560     NaN
561    40.0
562    28.0
563     NaN
564     NaN
565    24.0
566    19.0
567    29.0
568     NaN
569    32.0
Name: Age, dtype: float64
58
570    62.0
571    53.0
572    36.0
573     NaN
574    16.0
575    19.0
576    34.0
577    39.0
578     NaN
579    32.0
Name: Age, dtype: float64
59
580    25.0
581    39.0
582    54.0
583    36.0
584     NaN
585    18.0
586    47.0
587    60.0
588    22.0
589     NaN
Name: Age, dtype: float64
60
590    35.0
591    52.0
592    47.0
593     NaN
594    37.0
595    36.0
596     NaN
597    49.0
598     NaN
599    49.0
Name: Age, dtype: float64
61
600    24.0
601     NaN
602     NaN
603    44.0
604    35.0
605    36.0
606    30.0
607    27.0
608    22.0
609    40.0
Name: Age, dtype: float64
62
610    39.0
611     NaN
612     NaN
613     NaN
614    35.0
615    24.0
616    34.0
617    26.0
618     4.0
619    26.0
Name: Age, dtype: float64
63
620    27.0
621    42.0
622    20.0
623    21.0
624    21.0
625    61.0
626    57.0
627    21.0
628    26.0
629     NaN
Name: Age, dtype: float64
64
630    80.0
631    51.0
632    32.0
633     NaN
634     9.0
635    28.0
636    32.0
637    31.0
638    41.0
639     NaN
Name: Age, dtype: float64
65
640    20.00
641    24.00
642     2.00
643      NaN
644     0.75
645    48.00
646    19.00
647    56.00
648      NaN
649    23.00
Name: Age, dtype: float64
66
650     NaN
651    18.0
652    21.0
653     NaN
654    18.0
655    24.0
656     NaN
657    32.0
658    23.0
659    58.0
Name: Age, dtype: float64
67
660    50.0
661    40.0
662    47.0
663    36.0
664    20.0
665    32.0
666    25.0
667     NaN
668    43.0
669     NaN
Name: Age, dtype: float64
68
670    40.0
671    31.0
672    70.0
673    31.0
674     NaN
675    18.0
676    24.5
677    18.0
678    43.0
679    36.0
Name: Age, dtype: float64
69
680     NaN
681    27.0
682    20.0
683    14.0
684    60.0
685    25.0
686    14.0
687    19.0
688    18.0
689    15.0
Name: Age, dtype: float64
70
690    31.0
691     4.0
692     NaN
693    25.0
694    60.0
695    52.0
696    44.0
697     NaN
698    49.0
699    42.0
Name: Age, dtype: float64
71
700    18.0
701    35.0
702    18.0
703    25.0
704    26.0
705    39.0
706    45.0
707    42.0
708    22.0
709     NaN
Name: Age, dtype: float64
72
710    24.0
711     NaN
712    48.0
713    29.0
714    52.0
715    19.0
716    38.0
717    27.0
718     NaN
719    33.0
Name: Age, dtype: float64
73
720     6.0
721    17.0
722    34.0
723    50.0
724    27.0
725    20.0
726    30.0
727     NaN
728    25.0
729    25.0
Name: Age, dtype: float64
74
730    29.0
731    11.0
732     NaN
733    23.0
734    23.0
735    28.5
736    48.0
737    35.0
738     NaN
739     NaN
Name: Age, dtype: float64
75
740     NaN
741    36.0
742    21.0
743    24.0
744    31.0
745    70.0
746    16.0
747    30.0
748    19.0
749    31.0
Name: Age, dtype: float64
76
750     4.00
751     6.00
752    33.00
753    23.00
754    48.00
755     0.67
756    28.00
757    18.00
758    34.00
759    33.00
Name: Age, dtype: float64
77
760     NaN
761    41.0
762    20.0
763    36.0
764    16.0
765    51.0
766     NaN
767    30.5
768     NaN
769    32.0
Name: Age, dtype: float64

78
770    24.0
771    48.0
772    57.0
773     NaN
774    54.0
775    18.0
776     NaN
777     5.0
778     NaN
779    43.0
Name: Age, dtype: float64
79
780    13.0
781    17.0
782    29.0
783     NaN
784    25.0
785    25.0
786    18.0
787     8.0
788     1.0
789    46.0
Name: Age, dtype: float64
80
790     NaN
791    16.0
792     NaN
793     NaN
794    25.0
795    39.0
796    49.0
797    31.0
798    30.0
799    30.0
Name: Age, dtype: float64
81
800    34.00
801    31.00
802    11.00
803     0.42
804    27.00
805    31.00
806    39.00
807    18.00
808    39.00
809    33.00
Name: Age, dtype: float64
82
810    26.0
811    39.0
812    35.0
813     6.0
814    30.5
815     NaN
816    23.0
817    31.0
818    43.0
819    10.0
Name: Age, dtype: float64
83
820    52.0
821    27.0
822    38.0
823    27.0
824     2.0
825     NaN
826     NaN
827     1.0
828     NaN
829    62.0
Name: Age, dtype: float64
84
830    15.00
831     0.83
832      NaN
833    23.00
834    18.00
835    39.00
836    21.00
837      NaN
838    32.00
839      NaN
Name: Age, dtype: float64
85
840    20.0
841    16.0
842    30.0
843    34.5
844    17.0
845    42.0
846     NaN
847    35.0
848    28.0
849     NaN
Name: Age, dtype: float64
86
850     4.0
851    74.0
852     9.0
853    16.0
854    44.0
855    18.0
856    45.0
857    51.0
858    24.0
859     NaN
Name: Age, dtype: float64
87
860    41.0
861    21.0
862    48.0
863     NaN
864    24.0
865    42.0
866    27.0
867    31.0
868     NaN
869     4.0
Name: Age, dtype: float64
88
870    26.0
871    47.0
872    33.0
873    47.0
874    28.0
875    15.0
876    20.0
877    19.0
878     NaN
879    56.0
Name: Age, dtype: float64
89
880    25.0
881    33.0
882    22.0
883    28.0
884    25.0
885    39.0
886    27.0
887    19.0
888     NaN
889    26.0
Name: Age, dtype: float64
90
890    32
Name: Age, dtype: int64

In [4]:
# create a custom generator 
def data_generator(chunk):
    for hunk in chunk:
        yield (hunk['Age'], hunk['Sex'])

df_chunk_titanic = pd.read_csv('../datasets/titanic.csv', chunksize=10)

G = data_generator(df_chunk_titanic)

print(next(G))
print(next(G))

(0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64, 0      male
1    female
2    female
3    female
4      male
5      male
6      male
7      male
8    female
9    female
Name: Sex, dtype: object)
(10     4.0
11    58.0
12    20.0
13    39.0
14    14.0
15    55.0
16     2.0
17     NaN
18    31.0
19     NaN
Name: Age, dtype: float64, 10    female
11    female
12      male
13      male
14    female
15    female
16      male
17      male
18    female
19    female
Name: Sex, dtype: object)

Using generators is useful if say, you have a csv file for image training but the data column is a url. If we preloaded all the images into $x_{train}$, we would run into memory limits. So we can use a generator to fetch each image as the model iterates through the data on the fly

In [5]:
# Milad's example

import numpy as np

def data_gen(df, batch_size):
    while True:
        x_batch = np.zeros((batch_size, 3, 224, 224))
        ## Assume we have two classes (two labels)
        y_batch = np.zeros((batch_size, 1))
        for j in range(len(df['url']/batch_size)):
            b = 0
            for m, k in zip(df['url'].values[j*batch_size:(j+1)*batch_size], df['class'].values[j*batch_size:(j+1)*batch_size]):
                x_batch[b] = m
                y_batch[b] = k
                b += 1
            yield (x_batch, y_batch)
            
model.fit_generator(generator=data_gen(df_train, batch_size=batch_size), steps_per_epoch=len(df_train) // batch_size, epochs=epochs)

NameError: name 'model' is not defined

In [6]:
# from markdown lesson

def batch_generator(df, batch_size, path_tiles, num_classes):
    """This generator use a pandas DataFrame to read images (df.tile_name) from disk.
    """
    N = df.shape[0]
    while True:
        for start in range(0, N, batch_size):
            x_batch = []
            y_batch = []
            end = min(start + batch_size, N)
            df_tmp = df[start:end]
            ids_batch = df_tmp.tile_name
            for id in ids_batch:
                img = cv2.imread(path_tiles+'/{}'.format(id))
                # [0] since duplicated names
                labelname=df_tmp['y'][df_tmp.tile_name == id].values[0]  
                labelname=np.asscalar(labelname)
                x_batch.append(img)
                y_batch.append(labelname)
            x_batch = np.array(x_batch, np.float32) / 255
            y_batch = utils.np_utils.to_categorical(y_batch, num_classes)
            yield (x_batch, y_batch)

model.fit_generator(generator=batch_generator(df_train,
                                              batch_size=batch_size,
                                              path_tiles=path_tiles,
                                              num_classes=num_classes),
                    steps_per_epoch=len(df_train) // batch_size,
                    epochs=epochs)

NameError: name 'model' is not defined

### Data Augmentation

Data augmentation is not when you go to the data surgeon to get a bigger data set, but it's kind of close. It's when you apply transforms on the original dataset to create more variation and thus more data for the model to train on. For example, in image recognition we can crop the images, change the lighting, zoom, or tilt the image to simulate other kinds of image inputs that our feature might appear on. Thus instead of going out and capturing a toucan and getting it to cooperate with you in a photography studio setup, you can just take existing toucan pictures and vary the brightness and hue, etc.

### Transfer learning

In practice, very few people train a Convolution network from scratch (with random initialization) because it is rare to get a large enough dataset. So using pretrained network weights as initializations or a "fixed feature extractor" helps in solving most of the problems in hand.

Very deep networks are expensive to train. The most complex models take weeks to train using hundres of machines equipped with expensive GPUs.

Determining the topology/flavour/training method/hyper parameters for deep learning is a black art with not much theory to guide you.

So we need transfer learning.

(One example: Freeze the parameters of a CNN, and use its output as input for an MLP which is being trained.)

In [14]:
from tensorflow.keras import applications, optimizers
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Dense, GlobalAveragePooling2D, Dropout

base_model = applications.vgg16.VGG16(include_top=False, weights='imagenet')


i=0
for layer in base_model.layers:
    layer.trainable = False
    i = i+1
    print(i,layer.name)


x = base_model.output
x = Dense(128, activation='sigmoid')(x)
x = GlobalAveragePooling2D()(x)
x = Dropout(0.2)(x)
predictions = Dense(10, activation='softmax')(x)



model = Model(inputs=base_model.input, outputs=predictions)

model.compile(loss="categorical_crossentropy", optimizer=optimizers.SGD(lr=0.001, momentum=0.9),metrics=["accuracy"])

model.fit_generator(
        train_generator,
        steps_per_epoch=100,
        epochs=10,
        callbacks = callbacks_list,
        validation_data = validation_generator,
        validation_steps=20
        )

1 input_3
2 block1_conv1
3 block1_conv2
4 block1_pool
5 block2_conv1
6 block2_conv2
7 block2_pool
8 block3_conv1
9 block3_conv2
10 block3_conv3
11 block3_pool
12 block4_conv1
13 block4_conv2
14 block4_conv3
15 block4_pool
16 block5_conv1
17 block5_conv2
18 block5_conv3
19 block5_pool

NameError: name 'train_generator' is not defined